body {
       font-family: initial;
       background: rgb(208, 163, 204);
       padding: 20px;
     }

h1 {
     text-align: center; /*for head*/
   }

.input-section {       /*for input section*/
                text-align: center;
                margin-bottom: 20px;
               }

input {             
       padding: 8px;
       width: 200px;
      }

button {
        padding: 8px 12px;
        margin-left: 5px;
        cursor: pointer;
       }

button:disabled {
      background: #b98383;
      cursor: not-allowed;
                }

.error {
       color: red;
       font-size: 14px;
       }

.stats {           /* to show text in horizontal line */
          display: flex;
          justify-content: space-around;
          margin-bottom: 20px;
       }

.activity-list {   /* card in rows */
                display: flex;
                flex-wrap: wrap;
                gap: 15px;
               }

.card {
        background: rgb(210, 201, 206);
        padding: 15px;
        width: 220px;
        border-radius: 8px;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
      }

.completed {
            opacity: 0.5;
            text-decoration: line-through;
          }
