* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: initial;
  background-color: #f5f6f6;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  background-color: #8f98f9;
}

/* LEFT */
.logo {
  color: #eef7fa;
  font-size: 30px;
  font-weight: bold;
}

/* CENTER */
.menu {
  list-style: none;
  display: flex;
  gap: 80px;
}

.menu li {
  font-weight: bold;
  color: rgb(234, 239, 241);
  cursor: pointer;
}

/* RIGHT */
.login-btn {
  padding: 8px 18px;
  border: none;
  border-radius: 8px;
  background-color: #c38db6;
  color: white;
  cursor: pointer;
}

/* PROFILE CARDS  */
.cards-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 100px;
  flex-wrap: wrap; 
}

.card {
  width: 260px;
  background-color: rgb(220, 230, 249);
  padding: 22px;
  border-radius: 16px;
  text-align: center;
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-18px);
  z-index: 5;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

/* IMAGE */
.img-box {
  width: 110px;
  height: 110px;
  border: 3px solid #2ecc71;
  border-radius: 50%;
  margin: 0 auto 14px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.img-box img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  object-fit: cover;
}

/* TEXT (vertical stack) */
.card p {
  font-size: 13px;
  color: #424141;
  margin-bottom: 6px; /* spacing between lines */
}

.card p strong {
  color: #333;
}


