body {
  margin: 0;
  font-family: initial;
}

.navbar {
  display: flex;                     /* FLEXBOX */
  justify-content: space-evenly;     /*  GAP */
  align-items: center;               /* CENTER vertically */
  height: 60px;
  background-color: #5c5d84;
  color: white;
}

.logo {
  color: #c5e2ea;
  font-weight: bold;
  font-size: 20px;
}

.menu {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.login-btn {
  padding: 8px 16px;
  border-radius: 6px;               
  background-color: #b07aa9;
  color: rgb(249, 248, 248);
  cursor: pointer;
}
